.backround{
    background-image: url("https://www.google.com/search?q=fotografiska+logo&client=firefox-b-1-d&sxsrf=APwXEddOMor561XhbSWQc9tWRAd0vV08_Q:1679710481036&source=lnms&tbm=isch&sa=X&ved=2ahUKEwidxrCUgfb9AhVDEFkFHdtmDeEQ0pQJegQIBhAC&biw=1440&bih=728&dpr=2#imgrc=Xyv5JuSePcV-VM");
    background-color: #cccccc;
}

body { /* gif image for backround */
    background-image: url(https://images.squarespace-cdn.com/content/v1/53206172e4b0fcd5fdc04a42/1635312705750-DBAEYED14M67GGKMZ6YG/building_lights4.gif?format=300w)
  }
  
h1.headerone{ /* underline / dropshadow Header */
    border-bottom:2px solid black;
    position:relative;
    box-shadow: 0 4px 5px -2px black;
    background-color: #263377;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font { /* Website Font */
    font-family: Century Gothic;
  }

  .fonthome { /* Website Font home page */
    font-family: Century Gothic;
    color: white;
  }

  .boxed { /* box around 'about' font */
    width: 700px;
    border: 1px solid black;
    background-color: #c0b5da; 
    padding: 10px;
    margin: 20px;
    border-radius: 5px ; 
    position: center;
    justify-content: center;
    margin: auto;
  } 

/* #container{ body color backround */
height: 100vh;
width: 100vw;
text-emphasis-color: black;
background-color: #333356;
overflow-y: auto;
}

.hometext{ /* homespage font color */
height: 20vh;
width: 100vw;
text-emphasis-color: white;
background-color: black;
overflow-y: auto;
}

/* justify right using flex */
.foot-container2 { 
    height: 5vh;
    width: 100vw;
    overflow-y: auto;
    background-color: #333356;
    display: flex;
    justify-content: right;
    align-items: right;
}

.textcenter { /* centers the text , with underline*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid rgb(65, 10, 10, 0.2);
    margin-bottom: 10px;
}

.center { /* centers text */
    display: flex;
    justify-content: center;
}


/* tried to change the links to the other pages color + hover failed :( 
.link { color:white; } 
.link:hover { color: pink; }
*/

/* #box-model { not using, test */
    padding: 20px;
    boder-style: solid;
    border-width: 3px;
    margin: 30px
    background-color: blue;
}

/* could not figure out how to make this work 
.background { 
    padding: 0;
    height:250px;
    width:250px; 
    /* background-size: 100%; */
    /* color: black; */
    font-size: 5rem;
    text-align: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/Fotografiska_Logo.svg/1200px-Fotografiska_Logo.svg.png");
    background-repeat: repeat-y; 
    background-repeat: repeat-x;
    /* background-position: center; */
}

/* not using, test.container {   
    height: 5vh;
    width: 70000vw;
    overflow-y: auto;
    background-color: #b9b6dc;
    display: flex;
    justify-content: center;
    allign-items: center;
}  



.right { 
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }

.hov {   
    height: 200px;
    width 200px;
    background-color: blue;
}
.hov:hover {   
    background-color: red;
}*/

